/* width */
::-webkit-scrollbar {
	width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2E3440;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3B4252;
}

	/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #434C5E;
}
